@model  TestPager.Models.BookViewModel
@using TestPager.Helper
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul class="list-group">

    @foreach (var item in Model.books)
    {
        <li class="list-group-item">@item.Name</li>
    } 
</ul>

@Html.Pagination(Model.pageModel, (info) =>
{
    var pagingString = "<nav aria-label=\"Page navigation\"><ul class=\"pagination\">";

    if (info.pageIndex != 1)
    {
        pagingString += "<li><a href = \"" + Url.Action("Index", new { pageIndex = info.pageIndex - 1, pageSize = info.pageSize }) + "\" aria-label = \"Previous\"><span aria-hidden=\"true\">&laquo;</span></a></li> ";
    }


    for (int i = 1; i <= info.pageTotal; i++)
    {
        if (i==info.pageIndex)
        {

            pagingString += "<li><a href=\"javascript:;\">"+i+"</a></li>";
        }
        else
        {
            pagingString+= "<li><a href=\""+Url.Action("Index",new { pageIndex=i,pageSize=info.pageSize})+"\">"+i+"</a></li>";
        }
    }

    if (info.pageIndex!=info.pageTotal)
    {
        pagingString+="<li><a href=\""+Url.Action("Index",new {pageIndex=info.pageIndex+1,pageSize=info.pageSize })+"\" aria-label=\"Next\"><span aria-hidden=\"true\">&raquo;</span></a></li>";
    }

    pagingString += "</ul>";
    return pagingString;
})

@*<nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>*@